body {
    font-family: Arial, sans-serif;
}
 
#main{ 
    display: grid;
    grid-template-columns: 1fr 20%;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 97%;
    margin-top: 10px;
}

.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-self: flex-start; 
}
.show {
    display: grid;
}
.hidden {
    display: none;
}

.highlighted-title {
    display: inline-block;
    padding: 5px 5px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3) inset; 
    border: none;
    border: 2px solid rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 100%;
}

.highlighted-name {
    display: inline-block;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 15px 25px rgba(0, 0, 0, 0.577) inset;
    border: none;
    min-width: 100%;
    text-align: center;
    margin-bottom: 0px;  
    margin-top: 0px;
    font-size: 1.3em;
    padding: 2px 0px 2px 0px;
}

#characters1,  #characters2{
    grid-area: 1 / 1 / 2 / 2;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 0px 5px 0px 10px;
    align-items: start;
    align-content: start;
    margin-top: 5px;
}


#right-side { 
    grid-area: 1 / 2 / 2 / 3;  
    align-items: start;    
}

#other-player-board {
    display: grid;
}

#characters-selected-container{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
     animation: fade-in 1s forwards; 
}

#your-selected-character-container {
    margin: 10px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    align-self: center;  
    display: none; 
}

.colors-background-character-selected-container-of-first-player{
    background-color: #74be77;
}

.colors-background-character-selected-container-of-second-player{
    background-color: #6b96bc;
}

#hidden-character-container{
    background-color: #a25ebf91;
    margin: 20px 0px 20px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    align-self: center;
    display: none;
}

#logo{
    width: 100%;
}

#welcome-name {
    display: inline-block;
    padding: 10px 20px;
    color: rgb(42, 18, 39);
    box-shadow: 0px 5px 15px rgba(55, 8, 45, 0.837) inset;
    border: none;
}

 #buttons-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
 }

.buttons {
    display: inline-block;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3) inset;
    border-bottom: 2px solid rgba(71, 62, 62, 0.555);
    transform-style: preserve-3d;
    perspective: 800px;
    border-radius: 25% 25% 25% 25%;
    border: 2px solid rgba(15, 14, 14, 0.412);  
    min-width: 81%;
}

.buttons:hover {
    transform: translate(0, 2px) rotateX(5deg);
    box-shadow: 10px 15px 25px rgba(0, 0, 0, 0.615) inset;
    border: 2px solid rgba(15, 14, 14, 0.705);
}

.buttons:active {
    transform: translate(0, 0) rotateX(0);
    background-color: #dde8dd75; 
}

#my-character-selected-btn {
    background-color:blueviolet;
    padding: 3% 7% 3% 7%;
    font-size: x-large; 
    margin: 10% auto 5% auto; 
    animation: fade-in 3s forwards;
}

#game-rules-btn {
    background-color: rgb(6, 175, 187);  
    padding: 4% 10% 5% 10%;
    font-size: larger;
    margin: 4% auto 0px auto;    
}

#questions-btn {   
    background-color: #1b6b60;  
    padding: 3% 7% 3% 7%;
    font-size: x-large; 
    margin: 10% auto 5% auto; 
    animation: fade-in 3s forwards; 
}

#next-participant-btn {
    background-color: #7c1784;      
    padding: 3% 7% 3% 7%;
    font-size: large;
    margin: 6% auto 8% auto;
    display: none;
    animation: fade-in 3s forwards;
}

#questions-container {
    text-align: center;
    display: none;
    flex-direction: column;
}

#questions-title{
    margin-top: 0px;
}

.individual-question-btn {
    background-color: #1b6b60;
    padding: 3% 7% 3% 7%;
    margin: 2% auto;
    font-size: larger;
    min-width: 90%;
    animation: fade-in 3s forwards;
}

#solution-btn {   
    background-color: #da4a83;
    border-radius: 25% 25% 25% 25%;
    padding: 3% 7% 3% 7%;
    font-size: x-large;
    margin: 14% auto 4% auto;
    
}

.color-container {
    border: 2px solid rgba(0, 0, 0, 0.511);
    display:grid;
    align-items: end;
    align-self: start;
    opacity: 0;
    animation: fade-in 1s forwards;  
}

.character {
    height: auto;
    max-width: 100%;
    display: flex;  
    width: 90%;
}

.character-selected {
    max-width: 250px;
    max-height: 250px;
    width: 75%;
    height: auto;
}
    
.character-discarded {
    background-color: rgba(163, 11, 11, 0.708);
    animation: fade-in 1s forwards;
}

.grey-image {
    filter: grayscale(100%);
    opacity:50%;
    animation: fade-in 1s forwards;
}

#game-rules-container{
    padding: 100px 10px 20px 10px;
    background-color: rgba(6, 175, 187, 0.332);
    border: 2px solid rgba(15, 14, 14, 0.412);
    display: none;
    z-index: -2;
    margin-top: -80px;
}

.show-like-slide {
    display: block;
    max-height: 600px;
}

.rules-title {
    font-size: 1.3em;
}

.ana { 
    grid-area: 1 / 1 / 2 / 2; 
  }

.diego { 
    grid-area: 1 / 2 / 2 / 3; 
}
.lola { 
    grid-area: 1 / 3 / 2 / 4; 
}
.hugo { 
    grid-area: 1 / 4 / 2 / 5; 
}
.gael { 
    grid-area: 1 / 5 / 2 / 6; 
}
.ivan { 
    grid-area: 1 / 6 / 2 / 7; 
}
.sara { 
    grid-area: 2 / 1 / 3 / 2; 
}
.eva { 
    grid-area: 2 / 2 / 3 / 3; 
}
.carlos { 
    grid-area: 2 / 3 / 3 / 4; 
}
.gala { 
    grid-area: 2 / 4 / 3 / 5;
}
.luis {
    grid-area: 2 / 5 / 3 / 6;
}
.andres { 
    grid-area: 2 / 6 / 3 / 7;
}
.emma { 
    grid-area: 3 / 1 / 4 / 2; 
}
.juan { 
    grid-area: 3 / 2 / 4 / 3; 
}
.noa { 
    grid-area: 3 / 3 / 4 / 4; 
}
.ines { 
    grid-area: 3 / 4 / 4 / 5; 
}
.alexia { 
    grid-area: 3 / 5 / 4 / 6;    
}
.julia { 
    grid-area: 3 / 6 / 4 / 7;    
}
.javier { 
    grid-area: 4 / 1 / 5 / 2; 
}
.rosa { 
    grid-area: 4 / 2 / 5 / 3; 
}
.maria { 
    grid-area: 4 / 3 / 5 / 4; 
}
.miguel { 
    grid-area: 4 / 4 / 5 / 5; 
}
.laura { 
    grid-area: 4 / 5 / 5 / 6; 
}
.iker { 
    grid-area: 4 / 6 / 5 / 7; 
}

.popup {
    display: none;
    position: fixed;
    top: 0.5em;
    width: 100%;
    max-width: 80%;
    height: 95%;
    animation: fade-in 1s forwards;
}

.popup-content {   
    width: 60%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 10px solid rgba(252, 252, 252, 0.9);
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    min-height: 200px;
}

.popup-content h2{
    color:white;
}

.colorOfBackgroundsOfFirstPlayer{
    background-color: #2160249e;
}

 #first-player-welcome-popup, #start-game-first-player-popup{
    background-color: #216024;
} 

 #second-player-welcome-popup{
    background-color: #1c5990;   
} 

.colorOfBackgroundsOfSecondPlayer{
    background-color: #1c5a90a4;
}

#game-over-popup{
    background-color: #96372b;
   margin-top: 100px;
   height: 60%; 
}

#winner-popup{
    background-color: #711283;
    margin-top: 100px;
    height: 60%;
}

.span-popup {
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin: 10px auto;
}
 
.img-button-popup{
    max-width: 150px;
    cursor: pointer;
     margin: 20px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-in {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}